body 
{
	background-image: url("sky.jpeg");
}

#f-50
{
	font-size: 70px;
	color:white;
	text-align: center;
	margin-left: 100px;
}

#count-el
{
	font-size: 70px;
	color: white;
	text-align: left;
	margin-left: 320px;
}

#f-60
{
	font-size: 70px;
	color:white;
	text-align: center;
	margin-right: 100px;
}

#valueSum
{
	font-size: 70px;
	color: white;
	text-align: right;
	margin-right: 170px;
}

#sum
{
	color: white;
	margin-top: 120px;
	margin-left: 100px;
	font-size: 40px;
}

#values
{
	color: white;
	margin-left: 100px;
	font-size: 30px;
}

button
{
	border: none;
	padding-top: 18px;
	padding-bottom: 18px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 250px;
	margin-bottom: 5px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	display: inline;
}

button:active 
{
	background-color: #3e8e41;
	box-shadow: 0 5px rgb(43, 1, 1);
	transform: translateY(4px);
}

#increment-btn
{
	background: darkred;
}

#save-btn
{
	background: rgb(0, 86, 214);
}

#reset-btn
{
	background: rgb(128, 0, 214);
}

#total-btn
{
	background: rgb(255, 184, 30);
}

.grid-container
{
	display: grid;
}

#center-button
{
	display: flex;
	justify-content: center;
}